@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
}

.button{
  background-color: brown;
  padding: 1em 2em;
  color: white;
  border: 0;
}

.button:hover{
  background: gray;
}

.modal{
  display:none;
  position: center;
  z-index: 1;
  left: 0;
  top: 0;
  height: 80%;
  width: 80%;
  overflow: auto;
  background-color: rgba(0, 0,0, 0.5);

}

.tdTotal1{
  text-align: right;
}

.modal-content{
  background-color: lightgray;
  margin: 20% auto;
  width: 70%;
  box-shadow: 0 5px 8px rgba(0, 0,0, 0.2), 0 5px 8px rgba(0, 0,0, 0.2);
  animation-name:modalopen ;
  animation-duration: 1s;
}

.closeBtn{
  color: red;
  /* float: middle; */
  font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus{
  color:black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header{
  background-color: blue;
  padding: 15px;
  color: white;
}

.modal-body{
  padding: 10px 20px;
}

.modal-footer{
  padding: 10px;
  text-align: center;
}

/*table*/
input:focus,
button:focus,
.form-control:focus{
  outline: none;
  box-shadow: none;
}

.form-control:disabled, .form-control[read-only]{
  background-color: #fff;
}

.table tr,
.table tr td{
  vertical-align: middle;
}

.button-container{
  display: flex;
  align-items: center;
}

.button-container .form-control{
  max-width: 80px;
  text-align: center;
  display: inline-block;
  margin: 0px 5px;
}

#table-checkout .form-control{
  width: auto;
  display: inline-block;
}

.cart-qty-plus:hover,
.cart-qty-minus:hover{
  background-color: #5161ce;
  color: #fff;
}

.img-product{
  width: 50px;
  height: 50px;
  background-color: #5161ce;
}

.img-product img{
  width: 100%;
}


@keyframes modalopen {
  from{opacity: 0;}
  to{opacity: 1;}
}